table{
width: 700;
padding: 15px;
border: 2px solid #581845;
border-radius: 16px;
}
th{
width: 100px;
margin: auto;
font-size: 15px;
padding: 20px;
text-align: center;
border: 2px solid #FF5733;
border-radius: 16px;
}
td{
width: 100px;
margin: auto;
font-size: 15px;
padding: 20px;
text-align: center;
border: 2px solid #A93226;
border-radius: 16px;
}